<div>
  <p><b></b> </p>
  <p><b></b> </p>
  <div nz-row>
    <div nz-col nzSpan="4"><b>Начальное время циферблада</b></div>
    <div nz-col nzSpan="12"><nz-input-number [(ngModel)]="startTimer" [nzMin]="1" [nzMax]="99" [nzStep]="1"></nz-input-number></div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4"><b>Работающие секции 1</b></div>
    <div nz-col nzSpan="12">
      <nz-checkbox-group [(ngModel)]="rightNumber1" ></nz-checkbox-group>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="4"><b>Работающие секции 2</b></div>
    <div nz-col nzSpan="12">
      <nz-checkbox-group [(ngModel)]="rightNumber2" ></nz-checkbox-group>
    </div>
  </div>

  <div nz-row>
    <button nz-button nzType="primary" (click)="startLight()">Запустить светофор</button>
  </div>

  <div *ngIf="timer > 0" nz-row>
    <button *ngIf="!pause" nz-button nzType="primary" (click)="setPause()">Пауза</button>
    <button *ngIf="pause" nz-button nzType="primary" (click)="intervalTimer()">Продолжить</button>
  </div>
</div>



<div style="padding:24px; background: #fff; min-height: 550px; overflow-y: auto;">

        <div id="pnl-time" style="display: block; position: relative; width: 485px; height: 128px; left: 172px; top: 30px;">
          <div style="height: 300px; width: 200px; background: #807979;">
            <span class="circle" [ngClass]="{'red': isRed}"></span>
            <span class="circle" [ngClass]="{'green': !isRed}"></span>
          </div>

<!--          <span *ngIf="!isRed" style="font-size: 128px;color: rgb(85, 85, 85);">{{numberToString(timer)}}</span>-->
          <div nz-row style="width: 200px;margin: 10px;">
            <div nz-col nzSpan="12">
              <svg width="92" height="166" viewBox="0 0 92 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path [ngClass]="{'black': numberToElement(0,0)}" d="M19 0H73L82 9L73 18H19L10 9L19 0Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(0,1)}" d="M0 73L0 19L9 10L18 19L18 73L9 82L0 73Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(0,2)}" d="M74 73V19L83 10L92 19V73L83 82L74 73Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(0,3)}" d="M19 74H73L82 83L73 92H19L10 83L19 74Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(0,4)}" d="M0 147L0 93L9 84L18 93L18 147L9 156L0 147Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(0,5)}" d="M74 147V93L83 84L92 93V147L83 156L74 147Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(0,6)}" d="M19 148H73L82 157L73 166H19L10 157L19 148Z" fill="#F5F5F5"/>
              </svg>
            </div>
            <div nz-col nzSpan="12">
              <svg width="92" height="166" viewBox="0 0 92 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path [ngClass]="{'black': numberToElement(1,0)}" d="M19 0H73L82 9L73 18H19L10 9L19 0Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(1,1)}" d="M0 73L0 19L9 10L18 19L18 73L9 82L0 73Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(1,2)}" d="M74 73V19L83 10L92 19V73L83 82L74 73Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(1,3)}" d="M19 74H73L82 83L73 92H19L10 83L19 74Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(1,4)}" d="M0 147L0 93L9 84L18 93L18 147L9 156L0 147Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(1,5)}" d="M74 147V93L83 84L92 93V147L83 156L74 147Z" fill="#F5F5F5"/>
                <path [ngClass]="{'black': numberToElement(1,6)}" d="M19 148H73L82 157L73 166H19L10 157L19 148Z" fill="#F5F5F5"/>
              </svg>
            </div>

          </div>
        </div>

      </div>



<button nz-button nzType="primary" (click)="clearAll()">Очистить все данные</button>
