

.circle{
  color: #A5A9AC;
  display: block;
  float: left;
  border: 3px solid transparent;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EBF6FF;
  border: 3px solid #009BDD;
  border-radius: 50px;
  margin: 30px 50px 0px;
}

.red{
  background: red;
}

.green{
  background: green;
}
.black{
  fill: black;
}

.custom-loading{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 1);
  overflow: auto;
  z-index: 10000;
}
